<% if @work.errors.any? %>
  <div id="error_explanation" class="item">
    <h2><%= @work.errors.count %> 件のエラーがあります</h2>
    <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="item">
  <%= form_with model: @work, local: true do |f| %>
    <ul>
      <li>
        <div class="field">
          <%= f.label :subject, "科目名" %>
          <%= f.text_field :subject %>
        </div>
      </li>

      <li>
        <div class="field">
          <%= f.label :class_date, "授業日" %>
          <%= f.date_field :class_date %>
        </div>
      </li>

      <% if @work.new_record? %>
      <li>
        <div class="field">
          <%= f.label :second_class_date, "授業日" %>
          <%= f.date_field :second_class_date %>（週 2 回の場合のみ入力）
        </div>
      </li>

      <li>
        <div class="field">
          <%= f.label :total_weeks, "実施回数" %>
          <%= f.number_field :total_weeks, min: 1, max: 24 %> 週間
        </div>
      </li>
      <% end %>

      <li>
        <div class="field">
          <%= f.label :classroom, "場所" %>
          <%= f.text_field :classroom %>
        </div>
      </li>

      <li>
        <% unless @work.new_record? %>
          <div class="field">
            <%= f.label :status, "状態" %>
            <% Work.statuses.keys.each do |k| %>
              <%= f.radio_button :status, k %>
              <%= f.label :status, Work::STATUS_LABELS[k.to_sym], value: k, class: "ghost-btn" %>
            <% end %>
          </div>
        <% end %>
      </li>

      <li>
        <div class="field">
          <%= f.label :start_period, "開始時限" %>
          <% (1..6).each do |n| %>
            <%= f.radio_button :start_period, n %>
            <%= f.label :start_period, n, value: n, class: "ghost-btn" %>
          <% end %>
        </div>
      </li>

      <li>
        <div class="field">
          <%= f.label :end_period, "終了時限" %>
          <% (1..6).each do |n| %>
            <%= f.radio_button :end_period, n %>
            <%= f.label :end_period, n, value: n, class: "ghost-btn" %>
          <% end %>
        </div>
      </li>

      <li>
        <div class="field">
          <%= f.label :start_semester, "開始学期" %>
          <% Work.start_semesters.keys.sort_by { |k| Work.start_semesters[k] }.each do |k| %>
            <%= f.radio_button :start_semester, k %>
            <%= f.label :start_semester, Work::SEMESTER_LABELS[k.to_sym], value: k, class: "ghost-btn" %>
          <% end %>
        </div>
      </li>

      <li>
        <div class="field">
          <%= f.label :end_semester, "終了学期" %>
          <% Work.end_semesters.keys.sort_by { |k| Work.end_semesters[k] }.each do |k| %>
            <%= f.radio_button :end_semester, k %>
            <%= f.label :end_semester, Work::SEMESTER_LABELS[k.to_sym], value: k, class: "ghost-btn" %>
          <% end %>
        </div>
      </li>

      <% unless @work.new_record? %>
        <li>
          <div class="field">
            <%= f.label :content, "業務内容" %>
            <%= f.text_area :content, rows: 3 %>
          </div>
        </li>
      <% end %>
    <ul>

    <div class="actions btn-group">
      <%= f.submit @work.new_record? ? "登録する" : "更新する", class: "ghost-btn" %>
    </div>
  <% end %>
</div>
