<% content_for :page_title, "勤務情報の一覧" %>

<%= link_to "新規作成", new_work_path, class: "ghost-btn", id: "create-item-btn" %>

<% if notice %>
  <div id="notice" class="item">
    <%= notice %>
  </div>
<% end %>

<div>
  <% if @works.empty? %>
    <p>勤務情報はまだ登録されていません。</p>
  <% end %>
  <% @works.each do |work| %>
    <div class="item">
      <ul>
        <li>科目名：<%= work.subject %></li>
        <li>授業日：<%= work.class_date %></li>
        <li>場所：<%= work.classroom %></li>
        <li>状態：<%= work.status_jp %></li>
        <li>時限：<%= work.period_range %></li>
        <li>開講期間：<%= work.semester_period %></li>
        <li>業務内容：<%= display_content(work.content) %></li>
      </ul>
      <div class="btn-group">
        <%= link_to "勤務情報を編集", edit_work_path(work), class: "ghost-btn" %>
        <%= link_to "勤務情報を削除", work_path(work), class: "ghost-btn", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
      </div>
    </div>
  <% end %>
</div>
