<% content_for :page_title, "勤務情報の一覧" %>

<ul id="add-filter-btn">
  <li><%= link_to "新規作成", new_work_path, class: "ghost-btn" %></li>
  <li><%= button_to "先月分を表示", works_path, class: "ghost-btn", method: :get, params: { range: "last month" } %></li>
  <li><%= button_to "今月分を表示", works_path, class: "ghost-btn", method: :get, params: { range: "this month" } %></li>
  <li><%= button_to "今日以降を表示", works_path, class: "ghost-btn", method: :get, params: { range: "from today" } %></li>
</ul>

<% if notice %>
  <div id="notice" class="item">
    <%= notice %>
  </div>
<% end %>

<% if @timesheet_submission_due %>
  <div id="timesheet" class="item">
    <p>今月の出勤が終わったら、出勤簿を提出してください。</p>
  </div>
<% end %>

<div>
  <% if @works.empty? %>
    <p>勤務情報はまだ登録されていません。</p>
  <% end %>
  <% @works.each do |work| %>
    <div class="item <%= work.status %>">
      <ul>
        <li>科目名：<%= work.subject %></li>
        <li>授業日：<%= work.class_date %></li>
        <li>場所：<%= work.classroom %></li>
        <li>状態：<%= work.status_jp %></li>
        <li>時限：<%= work.period_range %></li>
        <li>開講期間：<%= work.semester_period %></li>
        <li>業務内容：<%= display_content(work.content) %></li>
        <li>補足事項：<%= display_note(work.note) %></li>
      </ul>
      <div class="btn-group">
        <%= link_to "勤務情報を編集", edit_work_path(work), class: "ghost-btn" %>
        <%= link_to "勤務情報を削除", work_path(work), class: "ghost-btn", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
      </div>
    </div>
  <% end %>
</div>
