<% content_for :page_title, "アカウント管理" %>

<% if notice %>
  <div id="notice" class="item">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div id="alert" class="item">
    <%= alert %>
  </div>
<% end %>

<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :student_number, "学籍番号" %><br />
    <%= f.text_field :student_number, autofocus: true, style: "text-transform: uppercase;" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <%= render "devise/shared/links" %><br />

  <div class="actions">
    <%= f.submit "ログイン", class: "ghost-btn" %>
  </div>
<% end %>
